<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Eliminar Producto</title>
</head>
<body>
    

    {% extends 'Productos/templates/index.html' %}

    {% block content %}

    <p class="font-monospace" style="font-size: 30px;">Eliminar Producto</p>

    {% if object %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="shadow-lg p-3 mb-5 bg-body rounded"> 
        <p class="font-monospace">Estas seguro que deseas eliminar este producto: {{ object }} !!..</p>
        </div>
        <button type="submit" class="btn btn-danger">Si, borrar</button>
        
    </form>

    {% endif %}

    {% endblock %}
    
    
</body>
</html>