<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Insertar Producto</title>
    <style></style>
</head>
<body>
    {% extends 'Productos/templates/index.html' %}

    {% block content %}

    <p class="font-monospace" style="font-size: 30px;">Insertar Producto</p>
    
    <form action="" method="POST">
       <div class="container">
        {% csrf_token %}

        <strong>Id:</strong>

        {{ form.id}}

        <strong>Nombre:</strong>

        {{ form.name}}

        <strong>Cantidad:</strong>

        {{ form.cantidad}}

        <strong>Lote:</strong>

        {{ form.lote}}

        <strong>Stock:</strong>

        {{ form.stock}}

        <strong>Precio:</strong>

        {{ form.precio}}

        <strong>Fecha:</strong>

        {{ form.fecha}}

        <strong>Marca:</strong>

        {{ form.marca}}

        <div class="form-group is-grouped mt-3">
            <button class="btn btn-success"><i class="bi bi-plus-lg">Enviar</i></button>

        </div>
       </div>

       {% endblock %}
    </form>
    
</body>
</html>